@import '../../_base.scss';

.video{
    margin-bottom: 1rem;
    padding: 0.9rem;

    font-weight: 500;
    font-size: 0.9rem;
    cursor: pointer;

    &_top{ 
   margin-bottom: 0.5rem;
    position: relative;
.lazy-load-image-background{
    width: 100%;
}
        img{
            width: 100%;
        }
        &_duration{
            position: absolute;
            bottom: 4px;
            right: 4px;

            padding: 2.5px;
            background: #080808ec;
            border-radius: 3px;
        }
    }

    &_title{
        margin-bottom: 1.6px;

        color: #fff;
       @include line-limit(1);
        img{
            width: 36px; 
            height: 36px;

            border-radius: 50%;
            margin-right: 8px;
            cursor: pointer;
        }
    }

    &_details{
        display: flex;
        align-items: center;
        // margin-left: 3rem;
        font-size: 1rem;
        
   span{
   font-size: 0.75rem;
       }
    }

    &_channel{
        // margin-left: 3rem;
        padding-top: 1rem;
    
        p{
            font-size: 0.8rem;
            margin-bottom: 0;
        }
    }
&_wrap{
    padding-bottom: 1rem;
    padding-left: 2.5rem;
}
    
}

